.notification{
    position: absolute;
    bottom: 30px;
    right: 20px;

/* }
div{ */
    background-color: rgb(225, 93, 52);
    /* height: 40px; */
    padding: 0.5em 30px 0.5em 0.5em;
    /* text-overflow: clip; */

}
.close{

    position: absolute;
    right: -16px;
    top: -16px;
    /* border-radius: 25px 22px 25px 22px; */
    border: none;
    background-color: transparent;
}
img{
    width: 32px;
}
